/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

@use "uswds-core" as *;

//Grid

.grid-container {
   padding-left: 2em;
   padding-right: 2em;
}

//Background Colors

.bg-primary-dark,.bg-primary-darker,.bg-primary-dark a, .bg-primary-darker{
   color: #fff;
}

//Main Navigation

/// Site Title
.usa-logo__text {
   display: block;
   font-style: normal;
   font-weight: 500;
   margin: 0;
}


// Buttons

button.usa-button {
   font-weight: 500;
}


//Content

.vds-intro {
   font-size: size('body', 'lg');
   font-weight: $theme-font-weight-light;
   color: color('gray-cool-60');
}

.vds-intro:after {
   position: relative;
   bottom: -0.25em;
   left: 0;
   display: block;
   width: 2rem;
   height: 2px;
   background: color($theme-color-secondary);	
   border-radius: 999px;
   content: "";
}

//Footer

.grid-container.usa-footer__return-to-top a:visited {
   color: #005ea2;
}

.usa-footer a {
   text-decoration: none;
}

.usa-footer a:hover {
   text-decoration: underline;
}

.usa-footer__primary-link {
   color: $theme-color-base-dark;
}

footer .bg-primary-darker a.usa-footer__primary-link, footer .bg-primary-darker a.usa-footer__primary-link:visited, footer .bg-primary-darker a.usa-nav-link, footer .bg-primary-darker a.usa-nav-link:visited  {
   color:#fff;
}